body {
    background-color: #ececec;
    color: black;
    font-family: Arial, sans-serif; /* Corrigido: Fonte válida */
    font-size: x-large;
    margin: 0;
    padding-top: 120px; /* Adiciona espaço no topo para não cobrir o texto */
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/t1/12663143-fundo-de-textura-de-papel-branco-vintage-antigo-foto.jpg);
}

a:hover {
    color: #ece500;
}

a {
    color: #ff74a9;
    list-style: none;
    text-decoration: none;
}
header a:hover{
    color: #61bfc6;

}

footer a:hover {
    color: #61bfc6;
}

footer a {
    color: #ece500;
}

header a {
    color: #ece500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

/* Navegação */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    background-color: #ff74a9;
    border-bottom: 2px solid #ece500;
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcontainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navcontainer li {
    margin: 0 15px;
}

/* Texto centralizado */
.center {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
}

.container1, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container1 {
    flex-direction: row;
}

.container2 {
    flex-direction: row-reverse;
}

/* Padding para espaçamento adequado */
.padding {
    padding: 40px 50px;
}

/* Introdução */
.introdução {
    padding: 100px 200px;
    text-align: center;
}

/* Estilização do título */
.título {
    color: #ff74a9;
    text-align: center;
}

/* Adiciona borda a todas as imagens fora do header e footer */
body img:not(header img):not(footer img) {
    border: 4px solid #ff74a9;
    border-radius: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff74a9;
    border-top: 2px solid #ece500;
    padding: 20px;
}

footer img {
    width: 20px;
    height: 20px;
}

footer a {
    margin: 20px;
    text-align: center;
}